{# templates/result/result.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Результаты теста</title>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
        }
        .column {
            width: 45%;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Результаты теста</h1>
<div class="container">
    <div class="column">
        <h2>Вопросы на которые ответили верно ({{ result.correctAnswers|length }})</h2>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Вопросы</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in result.correctAnswers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ answer }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column">
        <h2>Вопросы на которые ответили с ошибками ({{ result.wrongAnswers|length }})</h2>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Вопросы</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in result.wrongAnswers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ answer }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('survey_start') }}" class="button">Попробовать еще!</a>
</body>
</html>