{# templates/survey/show.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ survey.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>{{ survey.name }}</h1>

    <form action="{{ path('survey_submit', { 'id': survey.id }) }}" method="post">
        {% for question in survey.questions %}
            <div class="mb-4">
                <h4>{{ question.question }}</h4>
                {% for answer in question.answers %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="answers[{{ question.id }}][]" value="{{ answer.id }}" id="answer{{ answer.id }}">
                        <label class="form-check-label" for="answer{{ answer.id }}">
                            {{ answer.answer }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>